/* navbar */
.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
}

.jumbotron {
    background-color: #0F1134;
    background-size: cover;
    height: 864px;
    background-image: url('img/image-2.png');
}

.display-4 {
    font-weight: 700;
    font-size: 35px;
}

.sub-display {
    font-weight: 400;
}

/* utility */
.tombol {
    text-transform: capitalize;
    border-radius: 10px;
    font-size: 16px;
}

.btn-join {
    background-color: #F5C116;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    font-size: 24px;
}

.btn-join:hover {
    display: inline-block;
    background-color: #cf9f00;
    border-radius: 10px;
}

/* desktop version */
@media (min-width: 992px) {

    .navbar-brand,
    .nav-link {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }

    .nav-link {
        text-transform: capitalize;
        margin-right: 45px;
        border-bottom: 2px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 2px solid #F5C116;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .jumbotron {
        margin-top: -95px;
    }

    .display-4 {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
        margin-top: 225px;
        margin-right: 605px;
    }

    .sub-display {
        font-size: 16px;
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
        margin-top: 40px;
        margin-right: 605px;
        margin-bottom: 67px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .display-4 {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }

    .sub-display {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
        margin-top: 40px;
    }

    .btn-join {
        background-color: #F5C116;
        height: 50px;
        width: 200px;
        border-radius: 10px;
        margin-top: 40px;
        font-size: 20px;
        font-weight: 600;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .display-4 {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }

    .sub-display {
        font-size: 20px;
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
        margin-top: 40px;
    }

    .btn-join {
        background-color: #F5C116;
        height: 50px;
        width: 200px;
        border-radius: 10px;
        margin-top: 40px;
        font-size: 20px;
        font-weight: 600;

    }
}